@charset "UTF-8";
html,body,div,header,main,article,footer,section,aside,nav,hgroup,ul,li,h1,h2,h3,h4,dl,dt,dd,p,a,span,i,em,img,input,textarea{margin:0;padding:0}
header,main,article,footer,section,aside,nav{display:block}
html,body{font-family:"Microsoft yahei",Helvetica,Arial,sans-serif;font-size: 13px;background: #f5f5f5}
h1,h2,h3,h4,h5,b{font-weight:normal}
a,img,input{border:none 0;text-decoration:none;outline:none}
a:hover{text-decoration:none}
a:focus,input:focus{outline:0 none}
li{list-style:none}
i,em,cite{font-style:normal}
a{text-decoration:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
span{-webkit-tap-highlight-color:rgba(0,0,0,0)}
input,textarea,li{-webkit-tap-highlight-color:rgba(0,0,0,0)}
textarea{resize:none;font-size:12px;outline:none 0;border:none 0}
textarea,input,button{-webkit-appearance:none;outline: none 0;border:none 0;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ddd;font-size:12px}
img{display: block;width: 100%}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{*+height:1%;}


/*取消滚动条*/
::-webkit-scrollbar {
    display: none;
}

a,a:hover{
    color: #282828;
}
/*首页*/
html,body{
    height:100%;
    -moz-user-select:none;-webkit-user-select:none;
    -webkit-overflow-scrolling: touch;
}
.containerBox{
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*overflow-x:hidden ;*/
    /*overflow-y: auto;*/
    background: #f5f5f5;
}

/*轮播*/
.swiper-container-horizontal>.swiper-pagination-bullets{bottom:5px;}
.swiper-pagination-bullet{background: #fff;opacity: .7;}
.swiper-pagination-bullet-active{background: #fff;opacity: 1;}
.containerBox .cb-banner{
    width: 100%;
}
.containerBox .cb-banner .bannerItem{
    display: block;
    height:48.6111vw;
    width: 100%;
    overflow: hidden;
}
.containerBox .cb-banner img{
    width: 100%;
}

.containerBox .cb-classify{
    width: 100%;
    padding-top: 14px;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: 4.6875vw solid #f5f5f5;
    background: #fff;
}
.containerBox .cb-classify .item{
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    font-size: 10px;
    color: #291b1e;
    margin-bottom: 10px;
}

.containerBox .cb-classify .item i{
    display: block;
    width: 36px;
    height:36px;
    margin: 0 auto;
}
.containerBox .cb-classify .item span{
    display: inline-block;
    margin-top: 4px;
}
.containerBox .cb-classify .item i img{
    width: 100%;
}
.containerBox .cb-title{
    padding-left: 10px;
    font-size: 16px;
    color: #323232;
    padding-top: 10px;
    background: #fff;
}
.containerBox .cb-title i{
    color: #7e7e7e;
    font-size: 12px;
    margin-left: 10px;
    letter-spacing: 3px;
}

.containerBox .cb-sale{
    overflow-x:scroll ;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 4.6875vw;
    border-bottom: 4.6875vw solid #f5f5f5;
    background: #fff;

}
.containerBox .cb-sale .itemBox{
    width: 1000px;
    margin-left: 15px;
    margin-top: 10px;
    overflow: hidden;
}
.containerBox .cb-sale .itemBox .item{
    float: left;
    width: 90px;
    text-align: center;
    /*border:1px solid #e0e0e0;*/
    margin-right: 10px;
    padding:5px;
    position: relative;
}
.containerBox .cb-sale .itemBox .item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}
.containerBox .cb-sale .itemBox .item b{
    display: block;
    width: 100%;
    height:93px;
    overflow: hidden;
}
.containerBox .cb-sale .itemBox .item img{
    width: 100%;
}
.containerBox .cb-sale .itemBox .item i{
    color: #fe3f56;
    margin-right: 5px;
}
.containerBox .cb-sale .itemBox .item s{
    color: #b0b0b0;
}
.containerBox .cb-sale .itemBox .item p{
    margin-top: 5px;
}
/*专题推荐*/
.containerBox .cb-special{
    /*padding-top: 10px;*/
    margin-top: -5px;
    background: #fff;

}
.containerBox .cb-special .item{
    display: block;
    padding:15px;
    text-align: center;
    /*border-bottom:1px solid #f0f0f0;*/
    position: relative;
}
.containerBox .cb-special .item:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #f0f0f0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.containerBox .cb-special .item:last-child{
    border:0;
}
.containerBox .cb-special .item .imgBox{
    width: 100%;
    height: 48.7vw;
    overflow: hidden;
}
.containerBox .cb-special .item img{
    width: 100%;
}
.containerBox .cb-special .item p{
    margin-top: 10px;
    width: 100%;
    height:30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 15px;
}
/*商品推荐*/
.containerBox .recommendBox{
    background: #f5f5f5;
    padding-top: 15px;
}
.containerBox .cb-recommend{
    padding:0 8px;
    margin-top: 10px;
}
.containerBox h3{
    font-size: 16px;
    text-align: center;
}
.index-goods .item{
    float: left;
    width: calc(50vw - 13px );
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    background: #fff;
}
.index-goods .item:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e0e0e0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.index-goods .item:nth-child(odd){
    margin-right:5px ;
}
.index-goods .item:nth-child(even){
    margin-left:5px ;
}
.index-goods .item .imgBox{
    width: 100%;
    height:calc(50vw - 15px );
    overflow: hidden;
}

.index-goods .item img{
    width: 100%;
}
.index-goods .item .name{
    margin-top: 10px;
    padding:0 7px;
    overflow: hidden;
}
.index-goods .item .name i{
    float: left;

    /*font-size: 10px;*/
    /*color: #ffcfd5;*/
    /*border-radius: 2px;*/
    /*background: #fe3f56;*/
    /*font-style: italic;*/
    /*line-height: 18px;*/
    /*padding:0 5px;*/

    width: 32px;
    height:18px;
    margin-right: 5px;

}
.index-goods .item .name span{
    float: left;
    width: calc(50vw - 65px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height:18px;
    line-height: 18px;
    color: #101010;
    text-align: left;
}
.index-goods .item.noPostage .name i{display: none}
.index-goods .item.noPostage .name span{width: 100%}

.index-goods .item .price{
    padding:0 7px;
    margin-top: 5px;
    overflow: hidden;
    height:24px;
    line-height: 24px;
}
.index-goods .item .price i{
    float: left;
    width: 45%;
    color: #fe3f56;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.index-goods .item .price i b{
    font-size: 16px ;
    font-weight: 400;
}
.index-goods .item .price span{
    float: right;
    text-align: right;
    width: 55%;
    color: #969696;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lastTips{
    width: 100%;
    text-align: center;
    margin: 8px 0;

}


/*loading页面*/
.hd-noLoad{
    background: #fff;
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    z-index:99999;
}
.hd-noLoad .hd-loading{
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-animation: preloader-spin 1s step-end infinite;
    animation: preloader-spin 1s step-end infinite;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-10px;
    margin-top:-10px;
    z-index:888;
}
.hd-hasLoad{
    display: none;
}

/*加载提示符*/
.infinite-scroll-preloader{
    width: 100%;
    text-align: center;
    padding: 5px 0;

}
.infinite-scroll-preloader .preloader{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: preloader-spin 1s step-end infinite;
    animation: preloader-spin 1s step-end infinite;
}

.infinite-scroll-preloader .preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

@-webkit-keyframes preloader-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    8.33333333% {
        -webkit-transform: rotate(30deg);
    }
    16.66666667% {
        -webkit-transform: rotate(60deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    33.33333333% {
        -webkit-transform: rotate(120deg);
    }
    41.66666667% {
        -webkit-transform: rotate(150deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    58.33333333% {
        -webkit-transform: rotate(210deg);
    }
    66.66666667% {
        -webkit-transform: rotate(240deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    83.33333333% {
        -webkit-transform: rotate(300deg);
    }
    91.66666667% {
        -webkit-transform: rotate(330deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes preloader-spin {
    0% {
        transform: rotate(0deg);
    }
    8.33333333% {
        transform: rotate(30deg);
    }
    16.66666667% {
        transform: rotate(60deg);
    }
    25% {
        transform: rotate(90deg);
    }
    33.33333333% {
        transform: rotate(120deg);
    }
    41.66666667% {
        transform: rotate(150deg);
    }
    50% {
        transform: rotate(180deg);
    }
    58.33333333% {
        transform: rotate(210deg);
    }
    66.66666667% {
        transform: rotate(240deg);
    }
    75% {
        transform: rotate(270deg);
    }
    83.33333333% {
        transform: rotate(300deg);
    }
    91.66666667% {
        transform: rotate(330deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*占位符*/
.placeholder{
    width: 40% !important;
    margin: 0 auto!important;
    margin-top: 30%!important;
}
.cb-special .placeholder {
    width: 30% !important;
    margin: 0 auto !important;
    margin-top: 10% !important;
}

/*0元购首页*/
.freeToBuy{
    background: #FF3F56;
}
.freeToBuy .containerBox{
    background: #FF3F56;
    padding-bottom: 20px;
}
.freeToBuy .banner{
    position: relative;
    z-index: 3;
}
.freeToBuy img{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.freeToBuy .rule{
    padding:0 10px;
    color: #FF3F56;
    position: relative;
    margin-top: 5px;
}
.freeToBuy .rule .topRectangle{
    width: calc(100vw - 10px);
    height:20px;
    background: #cd182d;
    position: absolute;
    top:-10px;
    left:5px;
    border-radius: 10px;
    z-index: 0;
}
.freeToBuy .rule .title{
    width: 100%;
    background: rgb(253,213,4);
    text-align: center;
    height:30px;
    line-height: 30px;
    position: relative;
}
.freeToBuy .rule .title .t2{
    display: none;
}
.freeToBuy .rule .title i{
   position: absolute;
    top:0;
    right:10px;
    display: block;
    width: 15px;
    height:100%;
}
.freeToBuy .rule .text{
    padding:10px;
    background: rgb(255,251,32);
    position: relative;
}
.freeToBuy .rule .text .lace{
    position: absolute;
    left:0;
    bottom: -12px;
    width: 100%;
    height:15px;

}
.freeToBuy .rule .textBox{
    height:154px;
    transition: height 2s;
    -webkit-transition:height 2s;
    overflow: hidden;
}
.freeToBuy .rule .textBox.close{
    height:0;
}
@media screen and (min-width: 321px){.freeToBuy .rule .textBox{height:135px;}}
@media screen and (min-width: 376px){.freeToBuy .rule .textBox{height:116px;}}

.freeToBuy .rule .text p{
    line-height: 1.5;
}

.freeToBuy .rooftop{
    width: 100%;
    background: #FF3F56;
    height:62px;
    /*position: absolute;*/
}
/*.freeToBuy .rooftop.fixed{*/
    /*position: fixed;*/
    /*top:0;*/
    /*left:0;*/
    /*margin-top: 0;*/
    /*z-index: 99999;*/
/*}*/
.freeToBuy .goods{
    overflow: hidden;
    margin-top: 45px;
    background: url(../../images/diy2_5/freeToBuy-bg.jpg) repeat-y;
    background-size: 100% auto;
    padding-bottom: 50px;
}

.freeToBuy .goods .item{
    width: 80%;
    background: #fff;
    overflow: hidden;
    margin: 10px auto;
    box-shadow: 0 0 35px 0 #c81026;
}
